.drillmenu{ /* main DIV container of menu */
border: 2px solid black;
width: 180px; /*width of menu*/
height: 190px; /*Height of DIV for those with JavaScript disabled*/
overflow-y: scroll; /*Scrollable DIV for those with JavaScript disabled*/
background: lightyellow; /*background of menu.*/
}


.drillmenu ul{ /*menu ULs*/
font: normal 13px Verdana;
margin: 0;
padding: 0;
list-style-type: none;
background: lightyellow; /*background of menu*/
}

.drillmenu li a{ /*menu links*/
display: block;
color: black;
text-decoration: none;
padding: 5px;
}

* html .drillmenu li{ /*IE6 CSS hack*/
display: inline-block;
}

.drillmenu li a:hover{
background-color: #4A2500;
color: white;
}

li.backcontroltitle{ /*style of top level menu title*/
background: black;
color: white;
padding: 4px;
}

li.backcontrol{ /*style of back button control that gets added to the top of each sub UL*/
background: #011054;
color: white;
padding: 4px;
cursor: hand;
cursor: pointer;
}

#drillcrumb{ /*custom, user defined DIV that contains breadcrumb trail*/
margin-bottom: 5px;
font: bold 13px Verdana;
}

#drillcrumb a{ /*custom element*/
color: darkred;
}